* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* First part */

header {
  padding-top: 48px;
}

.intro-chunk {
  font-size: 1.25rem;
  padding: 16px;
  max-width: 400px; /* 🤷‍♂️ */
}

.intro-chunk .title {
  margin-bottom: 48px;
}

h1 {
  font-size: 2rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

/* Second part */

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 70px;
  padding-bottom: 70px;
  border-top-color: hsl(0deg, 0%, 40%);
  border-top-width: 6px;
  border-top-style: solid;
}

.max-width-wrapper {
  max-width: 560px; /* 🤷‍♂️ */
  margin: auto;
}

.card {
  padding: 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom-color: hsl(0deg, 0%, 40%);
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom-color: hsl(45deg, 100%, 40%);
  border-bottom-width: 6px;
  border-bottom-style: solid;
  padding: 16px 32px;
  width: fit-content;
  margin-top: -8px;
  margin-left: -32px;
}
